{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary </h2>
    <div class="col-12 row">
        <div class="col-4">Order #</div>
        <div class="col-4">{{order.order_uuid}}</div>
    </div>
    <div class="col-12 row">
        <div class="col-4">Order Date</div>
        <div class="col-4">{{order.order_date}}</div>
    </div>
    <div class="col-12 row">
        <div class="col-4">Order Delivered</div>
        <div class="col-4">{{order.delivered}}</div>
    </div>
    <div class="col-12 row">
        <div class="col-4">Order Shipped</div>
        <div class="col-4">{{order.shipped}}</div>
    </div>
    <div class="col-12 row">
        <div class="col-4">Order Transaction ID</div>
        <div class="col-4">{{order.payment_id.transaction_id}}</div>
    </div>
    <div class="col-12 row"> &nbsp; </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price (	&#8377; )</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.name }} <br/>
                <i>
                    {{item.customText}}
                </i>

            </td>
            <td> &#8377; {{ item.price }}</td>
            <td>
                {{ item.qty }}
            </td>
            <td>
                &#8377; {{item.total }}
            
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if items|length %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>	&#8377;{{ order.total }}</b></td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


